
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --branco-principal: #FFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #3C92FA;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
}
.principal{
    background-image: url('imagens/Background.png');
    background-repeat: no-repeat;
    background-size: contain; /*tamanho do conteúdo do container*/
    align-items: center; /*Como está no display grid, ele alinha todos os itens ao centro da coluna*/
    text-align: center;
}
.container{
    height: 100vh;
    display: grid; /*melhor para trabalhar com o formato do site*/
    grid-template-columns: 50% 50%; /*a composição do site pronto é de duas colunas, visualmente, por isso essa atribuição*/
}
.container__caixa{
    margin: 0 6em;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__botao{ /*é um <a> por conta da sua função, não executa nenhuma function*/
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em; /*em é tamanho relativo*/
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
.container__botao:focus{
    font-style: italic;
}
.botao_secundario{ /*é um <a> por conta da sua função, não executa nenhuma function*/
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    

}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

/*SEGUNDA PARTE DO SITE*/

.secundario__imagem{
    width: 80%; /*a definição do width com % é para ficar responsivo*/
}

.secundario{
    align-items: center; /*como a section tem o display grid, da class container, o align itens é propriedade de alinhamento desse display*/
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin-bottom: 0.1em;
    text-indent: 5px;

}
.container__descricao{
    padding: 2em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block; /*para o botao ocupar só o tamanho dele. E o block faz a quebra de linha, permitindo além disso usar largura e altura, se quiser.*/
    margin-top: 1em;
}

/*Seção dos dispositivos*/
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
    
}
.dispositos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none; /*tirar os pontinhas da lista*/
    margin: 5em 0;
}
.lista__item{
    font-size: 32px;
    
}

/*Rodapé*/
.rodape{
    text-align: center;
    
}
.rodape__logo{
    margin: 5em 0 2em 0;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.lista__link a{
    text-decoration: none;
    margin: 0 1em;
    color: var(--branco-principal);

}
.lista__link a:hover{
    color: var(--botao-azul);
}
.lista__link a:active{
    color: purple;
}
.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 3em 3.5em;

}
